# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.pch
*.tlog
*.sdf
*.suo
*.tlog
Automizer.v12.suo
*.sdf
ConsoleApplication1/Debug/ConsoleA.03C351FE.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/Debug/ConsoleApplication1.Build.CppClean.log
ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/Debug/ConsoleApplication1.ilk
ConsoleApplication1/Debug/ConsoleApplication1.pdb
Debug/ConsoleApplication1.ilk
Debug/ConsoleApplication1.pdb
*.obj
ConsoleApplication1/Debug/vc120.pdb
*.ipch
ConsoleApplication1/Debug/stdafx.obj
*.idb
Automizer.opensdf
img test/*
*.tlog
