Automizer2/Automizer2.opensdf
 Automizer2/Automizer2.sdf
 Automizer2/Automizer2/Debug/Automizer2.Build.CppClean.log
 Automizer2/Automizer2/Debug/Automizer2.log
 Automizer2/Automizer2/Debug/Automizer2.obj
 Automizer2/Automizer2/Debug/Automizer2.pch
 Automizer2/Automizer2/Debug/Automizer2.tlog/Automizer2.lastbuildstate
 Automizer2/Automizer2/Debug/Automizer2.tlog/CL.read.1.tlog
 Automizer2/Automizer2/Debug/Automizer2.tlog/CL.write.1.tlog
 Automizer2/Automizer2/Debug/Automizer2.tlog/cl.command.1.tlog
 Automizer2/Automizer2/Debug/Automizer2.tlog/link.command.1.tlog
 Automizer2/Automizer2/Debug/Automizer2.tlog/link.read.1.tlog
 Automizer2/Automizer2/Debug/Automizer2.tlog/link.write.1.tlog
 Automizer2/Automizer2/Debug/Hand.obj
 Automizer2/Automizer2/Debug/Place.obj
 Automizer2/Automizer2/Debug/stdafx.obj
 Automizer2/Automizer2/Debug/vc120.idb
 Automizer2/Automizer2/Debug/vc120.pdb
 Automizer2/Debug/Automizer2.exe
 Automizer2/Debug/Automizer2.ilk
 Automizer2/Debug/Automizer2.pdb